
.homeColumn1 {
  width:100%;
  box-sizing: border-box;
  display:block;
  vertical-align: top;
  transition: all 3s;
  padding-left:0;
}

.homeColumn2 {
  width:100%;
  box-sizing: border-box;
  display:block;
  vertical-align: top;
  margin-top:0px;
}

.mugContainer {
    box-sizing: border-box;
    text-align:left;
}

.mugPic {
  transition: all 1s ease-in;
  width:100%;
  max-width:440px;
  opacity:1;
}

.sublinks {
  padding-top:30px;
  box-sizing: border-box;
}

.homebody{
  // border: 4px solid orange;
  display:none;
  box-sizing: border-box;
  padding-right: 18px;
}

.homebio {
  // border: 2px solid cyan;
  text-align:left;
  font-size:18px;
  font-family: futura-pt, sans-serif;
  line-height:30px;
  padding-top:20px;
  padding-bottom:40px;
  padding-right: 30px;
  box-sizing: border-box;
  margin-bottom:20px;
  max-width:100%;
}

.homebio p {
  margin-bottom:40px;
}


.homebodyMobile {
  display:block;
  box-sizing: border-box;
  max-width:100%;
}

.bartsShields {
  // border: 2px solid fuchsia;
  text-align:left;
  // max-width:500px;
  min-width:506px;
  display:none;
}



.shieldContainer {
  // border: 2px solid orange;
  display:inline-block;
  box-sizing: border-box;
  text-align:center;
  text-transform: uppercase;
  padding:0px;
  width:66px;
  font-size:12px;
  padding-bottom:40px;
  float:left;
  height:172px;
  // overflow: hidden;
  margin-bottom:40px;
  transition: all 1s;
  position: relative;
}

.shield {
text-align:center;
width:64px;
}

p.shieldTitle {
  text-align:left;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size:24px;
  margin:0;
  margin-bottom:10px;
  margin-top:20px;
}


.shieldContainer.visible{
 left:0px;
}



@media only screen and (min-width:740px) {

  .homeColumn1 {
    width:45%;
    box-sizing: border-box;
    display:inline-block;
    vertical-align: top;
    float:left;
  }
  
  .homeColumn2 {
    width:54%;
    box-sizing: border-box;
    display:inline-block;
    vertical-align: top;
    margin-top:80px;
    padding-left:10px;
  }

  .homebody{
    display:block;
  }
  .homebodyMobile {
    display:none;
  }
  
  .bartsShields {
    display:inline-block;
    float:left;
    transition:all 3s;
  }

  .shieldContainer {
    left:-100px;
  }
  .bartsShields.state1 {
    opacity:0;
  }
  .bartsShields.state2 {
    opacity:1;
  }

}
