
.homeColumn1 {
  width:100%;
  box-sizing: border-box;
  display:block;
  vertical-align: top;
  transition: all 3s;
  padding-left:0;
}

.homeColumn2 {
  width:100%;
  box-sizing: border-box;
  display:block;
  vertical-align: top;
  margin-top:0px;

}

.AITools {
  position: relative;
  top: -50px;
  right: 0px;
  height: 1px;
  width: 1px;
}
.AITool1 {
    border: 8px solid rgb(111, 149, 175);
  box-sizing: border-box;
  border-radius: 50%;
  position: relative;
  top: -270px;
  right: -340px;
      background-image: url('../images/shields/gemini.png');
   background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: white;
  height: 100px;
  width: 100px;
     box-shadow: 0 0 18px rgb(0, 153, 255);
     text-align: center;;
}
.AITool2 {
    border: 8px solid rgb(111, 149, 175);
  box-sizing: border-box;
  border-radius: 50%;
  position: relative;
  top: -530px;
  right: -380px;
    background-image: url('../images/shields/claude.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: white;
  height: 100px;
  width: 100px;
         box-shadow: 0 0 18px rgb(0, 153, 255);
     text-align: center;;
}
.AITool3 {
    border: 8px solid rgb(111, 149, 175);
  box-sizing: border-box;
  border-radius: 50%;
  position: relative;
  top: -790px;
  right: -350px;
  background-image: url('../images/shields/chat.png');
  background-size: 100%;
  height: 120px;
  width: 120px;
         box-shadow: 0 0 18px rgb(89, 189, 255);
     text-align: center;;
}


.mugContainer {
    box-sizing: border-box;
    text-align:left;

}

.mugPic {
  transition: all 1s ease-in;
  width:101%;
  max-width:440px;
  position: relative;
  top: -1px;
  left: -1px;
  opacity:1;
      border: 8px solid rgb(111, 149, 175);
      border-radius: 18px;
      box-shadow: 0 0 18px rgb(111, 149, 175);
}

.sublinks {
  padding-top:0px;
  box-sizing: border-box;
}

.homebody{
  // border: 4px solid orange;
  display:none;
  box-sizing: border-box;
  padding-right: 18px;
}

.homebio {
  // border: 2px solid cyan;
  text-align:left;
  font-size:18px;
  font-family: futura-pt, sans-serif;
  line-height:30px;
  padding-top:20px;
  padding-bottom:40px;
  padding-right: 40px;
  box-sizing: border-box;
  margin-bottom:20px;
  max-width:100%;
}

.homebio p {
  margin-bottom:40px;
}


.homebodyMobile {
  display:block;
  box-sizing: border-box;
  max-width:100%;
}

.bartsShields {
  // border: 2px solid fuchsia;
  text-align:left;
  // max-width:500px;
  min-width:506px;
  display:none;
  margin-top: 10px;

}



.shieldContainer {
  // border: 2px solid orange;
  display:inline-block;
  box-sizing: border-box;
  text-align:center;
  text-transform: uppercase;
  padding:0px;
  width:66px;
  font-size:12px;
  padding-bottom:40px;
  float:left;
  height:172px;
  // overflow: hidden;
  margin-bottom:40px;
  transition: all 1s;
  position: relative;
}

.shield {
text-align:center;
width:64px;
}

p.shieldTitle {
  text-align:left;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size:24px;
  margin:0;
  margin-bottom:10px;
  margin-top:20px;
}


.shieldContainer.visible{
 left:0px;
}



@media only screen and (min-width:740px) {

  .AITools {
    z-index: 500;
  position: relative;
  top: 90px;
  right: 130px;
  height: 20px;
  width: 20px;
}


  .homeColumn1 {
    width:45%;
    box-sizing: border-box;
    display:inline-block;
    vertical-align: top;
    float:left;
  }
  
  .homeColumn2 {
    width:54%;
    box-sizing: border-box;
    display:inline-block;
    vertical-align: top;
    margin-top:60px;
    padding-left:10px;
  }

  .homebody{
    display:block;
  }
  .homebodyMobile {
    display:none;
  }
  
  .bartsShields {
    display:inline-block;
    float:left;
    transition:all 3s;
  }

  .shieldContainer {
    left:-100px;
  }
  .bartsShields.state1 {
    opacity:0;
  }
  .bartsShields.state2 {
    opacity:1;
  }

}

@media only screen and (min-width:850px) {

  .AITools {
    z-index: 500;
  position: relative;
  top: 50px;
  right: 70px;
  height: 20px;
  width: 20px;
}

}

@media only screen and (min-width:980px) {

  .AITools {
    z-index: 500;
  position: relative;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
}

}